<!DOCTYPE html>
<html>
<head>
  <title>IsItOpen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="status"><a href="/">Status</a></li>
      <li class="update"><a href="/edit">Edit</a></li>
      <li><a href="http://github.com/royvandewater/is-it-open">Source</a></li>
    </ul>

    <h3 class="muted">Is It Open?</h3>
  </div>

  <hr />

  <div id="main">
  </div>
  <%= yield %>
</div>

</body>
</html>
